In [11]:
import numpy as np
import pandas as pd
from apyori import apriori

In [12]:
data = pd.read_csv('tesco.csv',header=None)

In [13]:
data

       0      1     2        3
0  apple   beer  rice  chicken
1  apple   beer  rice      NaN
2  apple   beer   NaN      NaN
3  apple  mango   NaN      NaN
4   milk   beer  rice  chicken
5   milk   beer  rice      NaN
6   milk   beer   NaN      NaN
7   milk  mango   NaN      NaN

In [14]:
data.shape

(8, 4)

In [15]:
records=[]
for i in range(0,8):
    records.append([str(data.values[i,j]) for j in range(0,4)])

In [16]:
records

[['apple', 'beer', 'rice', 'chicken'],
 ['apple', 'beer', 'rice', 'nan'],
 ['apple', 'beer', 'nan', 'nan'],
 ['apple', 'mango', 'nan', 'nan'],
 ['milk', 'beer', 'rice', 'chicken'],
 ['milk', 'beer', 'rice', 'nan'],
 ['milk', 'beer', 'nan', 'nan'],
 ['milk', 'mango', 'nan', 'nan']]

In [39]:
association_rules = apriori(records,min_support=0.50,min_confidence=0.7,min_lift=1.2,min_length=0)
association_result=list(association_rules)

In [40]:
print(len(association_result))

1

In [41]:
print(association_result)

[RelationRecord(items=frozenset({'beer', 'rice'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'rice'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.3333333333333333)])]